/* Header ************************************************************ */
header {
	z-index: 100;
	position: sticky;
	top: 0;
	padding: 0 var(--side-padding);
	background-color: #fff;
	box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.08);
	> .header-wrapper {
		align-items: stretch;
		> .logo {
			width: 160px;
			height: 80px;
			color: transparent;
			background-image: url(../../../assets/images/logo_wible_lg.svg);
			background-position: 0 50%;
			background-repeat: no-repeat;
			font-size: 0;
			background-size: 100% auto;
		}
		> nav > ul {
			> li {
				margin: 0 16px;
				> a {
					position: relative;
					display: block;
					padding: 0 4px;
					font-size: 18px;
					line-height: 80px;
					font-weight: 600;
					// border-bottom: 4px solid var(--mint-900);
				}
				> a:after {
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					width: 0;
					height: 4px;
					background-color: var(--mint-900);
					opacity: 0.4;
					transition: width 0.4s var(--cubic-bezier-primary);
				}
				@media (hover: hover) and (pointer: fine) {
					> a:hover:after {
						width: 100%;
					}
				}
			}
			> li.active > a:after {
				width: 100%;
				opacity: 1;
			}
		}
		@media (max-width: 1023px) {
			> .logo {
				width: 120px;
				height: 40px;
				background-image: url(../../../assets/images/logo_wible_sm.svg);
			}
			> nav {
				position: fixed;
				top: var(--header-height);
				bottom: 0;
				left: -100%;
				display: flex;
				width: 100%;
				margin-left: 0;
				padding: 0 var(--side-padding);
				background-color: #fff;
				transition: margin-left 0.8s var(--cubic-bezier-primary);
				> ul {
					margin-top: 80px;
					> li > a {
						display: block;
						margin-bottom: 8px;
						text-align: center;
						font-size: 24px;
						line-height: 56px;
						font-weight: 600;
						color: #000;
					}
					> li.active > a {
						color: var(--mint-900);
					}
				}
			}
			> .util {
				flex: 1;
				display: flex;
				justify-content: flex-end;
				margin-right: -8px;
				button {
					width: 40px;
					height: 40px;
					font-size: 0;
				}
				button.nav {
					position: relative;
					display: inline-block;
					background-image: linear-gradient(transparent 9px, #000 9px, #000 11px, transparent 11px);
					background-repeat: no-repeat;
					background-position: 0;
					border: 10px solid transparent;
					transition: background-position 0.4s var(--cubic-bezier-primary);
				}
				button.nav:before,
				button.nav:after {
					content: "";
					position: absolute;
					left: 0;
					width: 100%;
					height: 2px;
					background-color: #000;
					transform-origin: 50%;
					transition: transform 0.6s var(--cubic-bezier-primary);
				}
				button.nav:before {
					top: 3px;
				}
				button.nav:after {
					bottom: 3px;
				}
				@media (max-height: 463px) {
					nav {
						justify-content: center;
					}
					nav > ul {
						margin-top: 0;
					}
					nav > ul > li > a {
						margin-bottom: 0;
					}
				}
			}
		}
		@media (min-width: 1024px) {
			> .logo {
				width: 160px;
				background-image: url(../../../assets/images/logo_wible_lg.svg);
			}
			> nav {
				flex: 1;
				margin-right: -20px;
				> ul {
					display: flex;
					justify-content: flex-end;
					> li {
						margin: 0 16px;
						> a {
							position: relative;
							display: block;
							padding: 0 4px;
							font-size: 18px;
							line-height: var(--header-height);
							font-weight: 600;
							color: #000;
						}
						> a:after {
							content: "";
							position: absolute;
							left: 0;
							bottom: 0;
							width: 0;
							height: 4px;
							background-color: var(--mint-900);
							opacity: 0.4;
							transition: width 0.4s var(--cubic-bezier-primary);
						}
					}
					> li.active > a:after {
						width: 100%;
						opacity: 1;
					}
				}
			}
			@media (hover: hover) and (pointer: fine) {
				> nav > ul > li > a:hover:after {
					width: 100%;
				}
			}
			> .util {
				display: none;
			}
		}
	}
}
@media (max-width: 1023px) {
	.nav-opened > .header-wrapper > nav {
		left: 0;
		> ul {
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			width: 100%;
			> li.active {
				color: var(--min-900);
			}
		}
	}
	.nav-opened button.nav {
		background-position: 30px 0;
	}
	.nav-opened button.nav:before {
		transform: translateY(6px) rotate(-45deg) scaleX(1.2);
	}
	.nav-opened button.nav:after {
		transform: translateY(-6px) rotate(45deg) scaleX(1.2);
	}
}
@media (min-width: 1024px) {
	.nav-opened button.nav {
		background-position: 30px 0;
	}
}
