i.ic {
	flex-shrink: 0;
	background-repeat: no-repeat;
	background-size: auto 100%;
}
i.ic.download {
	background-image: url(../assets/icon/ic_download.svg);
}
i.ic.write {
	background-image: url(../assets/icon/ic_write.svg);
}
i.ic.talk {
	background-image: url(../assets/icon/ic_talk.svg);
}
i.ic.process-1 {
	background-image: url(../assets/icon/ic_process01.svg);
}
i.ic.process-2 {
	background-image: url(../assets/icon/ic_process02.svg);
}
i.ic.process-3 {
	background-image: url(../assets/icon/ic_process03.svg);
}
i.ic.process-4 {
	background-image: url(../assets/icon/ic_process04.svg);
}
i.ic.process-5 {
	background-image: url(../assets/icon/ic_process05.svg);
}
i.ic.process-6 {
	background-image: url(../assets/icon/ic_process06.svg);
}
i.ic.process-7 {
	background-image: url(../assets/icon/ic_process07.svg);
}
i.ic.service-1 {
	background-image: url(../assets/icon/ic_service01.svg);
}
i.ic.service-2 {
	background-image: url(../assets/icon/ic_service02.svg);
}
i.ic.service-3 {
	background-image: url(../assets/icon/ic_service03.svg);
}
i.ic.service-4 {
	background-image: url(../assets/icon/ic_service04.svg);
}
i.ic.service-5 {
	background-image: url(../assets/icon/ic_service05.svg);
}
i.ic.service-6 {
	background-image: url(../assets/icon/ic_service06.svg);
}
// i.ic.service-7 {
// 	background-image: url(../assets/icon/ic_service07.svg);
// }
// i.ic.service-8 {
// 	background-image: url(../assets/icon/ic_service08.svg);
// }
// i.ic.package-1 {
// 	background-image: url(../assets/icon/img_package01.svg);
// }
// i.ic.package-2 {
// 	background-image: url(../assets/icon/img_package02.svg);
// }
// i.ic.package-3 {
// 	background-image: url(../assets/icon/img_package03.svg);
// }
