.page-faq {
	> .header {
		height: var(--h1-height);
		text-align: center;
	}
	.faq-search-area {
		position: relative;
		> .tab-list {
			margin-bottom: var(--px-lg);
			> li {
				cursor: pointer;
				flex: 1;
				min-height: var(--btn-xlg2);
				font-size: var(--tab-fsize);
				background-color: #fff;
				border: 1px solid var(--midnight-100);
			}
			> li.active {
				position: relative;
				font-weight: 600;
				color: #fff;
				background-color: var(--midnight-900);
				border-color: var(--midnight-900);
			}
		}
		> form > .search-form {
			position: relative;
			padding: var(--px-md);
			margin-bottom: var(--px-md);
			@media (max-width: 743px) {
				padding: 0;
			}
			> .input-wrap {
				width: var(--search-bar-width);
				> input {
					height: var(--btn-xlg2);
					padding-left: 16px;
					padding-right: calc(var(--ic-sm) + var(--clear-space) + var(--btn-xlg2) - 2px);
					font-size: 1rem;
					border-color: var(--midnight-900);
				}
				> input + .clear {
					right: calc(1px + var(--btn-xlg2) - 2px);
				}
				> .submit {
					position: absolute;
					right: 1px;
					top: 1px;
					display: flex;
					align-items: center;
					justify-content: center;
					width: calc(var(--btn-xlg2) - 2px);
					height: calc(100% - 2px);
					font-size: 0;
				}
				> .submit:before {
					content: "";
					width: var(--ic-md);
					height: var(--ic-md);
					background: url(../../assets/icon/ic_search.svg) no-repeat;
					background-size: auto 100%;
				}
			}
		}
		> .search-info {
			display: flex;
			justify-content: space-between;
			margin: var(--px-md) 0;
			> .heading-info {
				margin: 0;
				font-size: var(--heading-info);
				line-height: var(--line-height-sm);
			}
			> .init {
				display: flex;
				align-items: center;
				padding: 0 4px;
				font-size: 16px;
			}
			> .init:before {
				content: "";
				width: var(--ic-sm);
				height: var(--ic-sm);
				margin-right: 2px;
				background: url(../../assets/icon/ic_init.svg) no-repeat;
				background-size: auto 100%;
			}
			@media (max-width: 743px) {
				> .init {
					padding: 0 2px;
					font-size: 14px;
				}
			}
		}
		> .toggle-list {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: var(--px-md);
			margin-right: -2px;
			> label {
				position: relative;
				display: flex;
				height: var(--btn-md);
				overflow: hidden;
				margin-right: 2px;
				cursor: pointer;
				-webkit-tap-highlight-color: transparent;
				> input {
					position: absolute;
					left: -100%;
				}
				> i {
					display: flex;
					align-items: center;
					justify-content: center;
					min-width: var(--btn-md);
					padding: 0 var(--space-sm);
					font-weight: 600;
					letter-spacing: -0.4px;
					border-radius: calc(var(--btn-md) / 2);
				}
				> input:checked + i {
					color: #fff;
					background-color: var(--mint-900);
				}
			}
			@media (max-width: 743px) {
				margin-right: 0;
				> label {
					margin-right: 0;
				}
			}
		}
		/* SearchResult */
		> .loading-indicator {
			flex: 1;
			display: flex;
			min-height: 320px;
			align-items: center;
			justify-content: center;
			font-size: 0;
			> i {
				position: relative;
				width: 48px;
				height: 48px;
				border-radius: 50%;
				animation: indicator 0.8s linear infinite;
			}
			> i:before {
				content: "";
				position: absolute;
				inset: 0px;
				border-radius: 50%;
				border: 6px solid var(--gray-200);
				animation: indicator-clipping 1.6s linear infinite alternate;
			}
			@keyframes indicator {
				100% {
					transform: rotate(360deg);
				}
			}
			@keyframes indicator-clipping {
				0% {
					clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
				}
				25% {
					clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
				}
				50% {
					clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
				}
				75% {
					clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
				}
				100% {
					clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
				}
			}
			@media (max-width: 743px) {
				> i {
					width: 32px;
					height: 32px;
				}
				> i:before {
					border-width: 4px;
				}
			}
			@media (min-width: 744px) and (max-width: 1439px) {
				> i {
					width: 40px;
					height: 40px;
				}
				> i:before {
					border-width: 5px;
				}
			}
		}
		> .faq-list {
			border-top: 2px solid var(--midnight-900);
			--cubic-bezier-primary: cubic-bezier(1, 0, 0.2, 1);
			> li {
				border-bottom: 1px solid var(--gray-100);
				> .a > button {
					position: relative;
					display: flex;
					align-items: center;
					width: 100%;
					overflow: hidden;
					padding: var(--faq-list-a-padding-v) 0;
					padding-right: calc(var(--px-xlg) + 1.6em);
					font-size: var(--faq-list-a-size);
					line-height: var(--line-height-sm);
					-webkit-tap-highlight-color: transparent;
					> em {
						box-sizing: content-box;
						width: 8em;
						padding: 0 var(--faq-list-a-padding-h);
						color: var(--gray-500);
					}
					> em + em {
						width: 6em;
					}
					> strong {
						padding-left: var(--faq-list-a-padding-h);
						text-align: left;
					}
				}
				> .q > .inner {
					padding: var(--faq-list-q-padding);
					font-size: 1rem !important;
					line-height: var(--line-height-lg);
					border-top: 1px solid var(--gray-100);
					overflow-x: scroll;
				}
			}
			> li > .a > button:after {
				content: "";
				position: absolute;
				right: calc((var(--px-xlg) - var(--ic-md)) / 2);
				width: var(--ic-md);
				height: var(--ic-md);
				background: url(../../assets/icon/ic_arrow.svg) no-repeat;
				background-size: auto 100%;
				transition: transform 0.4s var(--cubic-bezier-primary);
			}
			> li.active > .a {
				background-color: var(--gray-10);
			}
			> li.active > .a > button:after {
				transform: rotate(180deg);
			}
			@media (max-width: 1023px) {
				> li > .a > button {
					flex-wrap: wrap;
					> em {
						display: flex;
						align-items: center;
						width: auto !important;
						margin: 0 0 4px 0;
						padding: 0;
						font-size: calc(1em - 4px);
						line-height: var(--line-height-md);
					}
					> em + em:before {
						content: "";
						width: 16px;
						height: 16px;
						margin: 0 4px;
						background: url(../../assets/icon/ic_arrow.svg) no-repeat;
						background-size: auto 100%;
						transform: rotate(-90deg);
						opacity: 0.3;
					}
					> strong {
						min-width: 100%;
						margin: 0;
						padding: 0;
					}
				}
			}
			@media (max-width: 743px) {
				> li > .a > button > em + em:before {
					width: 16px;
					height: 16px;
					margin: 0 2px;
				}
			}
			> li:not(.show) > .q {
				display: none;
			}
		}
		> .no-data {
			border-top: 2px solid var(--midnight-900);
			padding: var(--space-box2) 0;
			text-align: center;
			border-bottom: 1px solid var(--gray-200);
			> p {
				margin-top: var(--space-xsm);
				line-height: var(--line-height-md);
				color: var(--gray-500);
				word-break: keep-all;
			}
			:before {
				display: block;
				content: "";
				width: var(--ic-xlg2);
				height: var(--ic-xlg2);
				margin: 0 auto var(--space-xsm2);
				background: url(../../assets/icon/ic_nodata.svg) no-repeat;
				background-size: auto 100%;
			}
		}
		> .list-more {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: var(--btn-xlg2);
			margin-top: calc(var(--px-lg) - 8px);
			font-size: var(--list-more-size);
			> i {
				position: relative;
				width: calc(var(--list-more-size) - 4px);
				height: calc(var(--list-more-size) - 4px);
				margin-top: -2px;
				margin-right: 4px;
				transition: transform 0.4s var(--cubic-bezier-primary);
				background: url(../../assets/icon/ic_plus.svg) no-repeat;
				background-size: auto 100%;
			}
		}
	}
	> .dialog-wrapper {
		z-index: 100;
		position: absolute;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.3);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		> .dialog-body {
			padding: 48px 80px;
			text-align: center;
			.btn-xxlg {
				height: 52px;
			}
		}
	}
}
